<div class="container">
	<div class="intro row col-sm-10 col-sm-offset-1">
		<div class="col col1 col-sm-3">
			<img class="intro-img" src="../../public/img/BigLawFirm.png" alt="">
		</div>

		<div class="col col2 col-sm-9">
			<h1>Großkanzleien in Deutschland</h1>

			<p>Eine Großkanzlei ist eine international agierende Wirtschaftskanzlei mit mindestens zehn Anwälten an einem Standort und betreut meist viele <strong>Fachbereichen</strong>, wie beispielsweise <strong>Arbeitstsrecht</strong>, <strong>Finanzrecht</strong>, <strong>Gesellschaftsrecht</strong>, Versicherungsrecht oder Wettbewerbsrecht. Die Arbeit in einer Großkanzlei oder Wirtschaftskanzlei bringt eine sehr hohe Arbeitsbelastung und viele Hierarchiestrukturen mit sich. Die erhöhte Arbeitsbelastung wird allerdings auch dementsprechend vergütet.</p>
		</div>
	</div>

	<hr class="divider" />

	<div class="row col-sm-10 col-sm-offset-1">
		<h2>Gehalt</h2>

		<p>Das Gehalt für den Einstieg kann schon einmal bei 125.000 Euro liegen. Bei einem wirtschaftlichen Erfolg der jeweiligen Kanzlei oder einer besonderen Leistung eines Mitarbeiters wird zusätzlich noch ein Bonus ausgezahlt. Jedoch ist dies von Kanzlei zu Kanzlei unterschiedlich. In Deutschland können sich diese stark unterscheiden. Hier eine Übersicht:</p>
	</div>

	<div class="row">
		<div class="col-sm-4 profile">
			<div class="profile-box">
				<img class="intro-img" src="../../public/img/a.png" alt="">

				<span class="label label-default">Info</span>
				<span class="icon-like">like</span>

				<div class="profile-logo">
					<img class="intro-img" src="../../public/img/Logo_Ashurst.png" alt="">

					<span class="label label-info">Info</span>
				</div>

				<div class="profile-info">
					<h3>Profile info</h3>

					<div class="icon-wrapper">
						<div class="icon">
							<div class="icon-wrapper">
								<div class="icon">
									<img src="../../public/img/Icon_Events.png">
								</div>
								<div class="icon">
									2
								</div>
							</div>

							<small>Scheduled Events</small>
						</div>
						<div class="icon">
							<div class="icon-wrapper">
								<div class="icon">
									<img src="../../public/img/Icon_Jobs.png">
								</div>
								<div class="icon">
									2
								</div>
							</div>

							<small>Ofered Jobs</small>
						</div>
					</div>
				</div>
			</div>

			<div class="offer-box">
				<p>Ofered Amount</p>

				<span class="amount">$ 300.000</span>

				<p>Ofered Amount</p>

				<span class="amount">$ 300.000</span>

				<p>Ofered Amount</p>

				<span class="amount">$ 300.000</span>
			</div>
		</div>

		<div class="col-sm-4 profile">
			<div class="profile-box">
				<img class="intro-img" src="../../public/img/a.png" alt="">

				<span class="icon-like">like</span>

				<div class="profile-logo">
					<img class="intro-img" src="../../public/img/Logo_Ashurst.png" alt="">

					<span class="label label-info">Info</span>
				</div>

				<div class="profile-info">
					<h3>Profile info</h3>

					<div class="icon-wrapper">
						<div class="icon">
							<div class="icon-wrapper">
								<div class="icon">
									<img src="../../public/img/Icon_Jobs.png">
								</div>
								<div class="icon">
									2
								</div>
							</div>

							<small>Ofered Jobs</small>
						</div>
					</div>
				</div>
			</div>

			<div class="offer-box">
				<p>Ofered Amount</p>

				<span class="amount">$ 300.000</span>

				<p>Ofered Amount</p>

				<span class="amount">$ 300.000</span>

				<p>Ofered Amount</p>

				<span class="amount">$ 300.000</span>
			</div>
		</div>

		<div class="col-sm-4 profile">
			<div class="profile-box">
				<img class="intro-img" src="../../public/img/a.png" alt="">

				<span class="icon-like">like</span>

				<div class="profile-logo">
					<img class="intro-img" src="../../public/img/Logo_Ashurst.png" alt="">

					<span class="label label-info">Info</span>
				</div>

				<div class="profile-info">
					<h3>Profile info</h3>

					<div class="icon-wrapper">
						<div class="icon">
							<small>Lorem ipsum dolor sit<br /> dolor sit amet</small>
						</div>
					</div>
				</div>
			</div>

			<div class="offer-box">
				<p>Ofered Amount</p>

				<span class="amount">$ 300.000</span>

				<p>Ofered Amount</p>

				<span class="amount">$ 300.000</span>

				<p>Ofered Amount</p>

				<span class="amount">$ 300.000</span>
			</div>
		</div>
	</div>

	<div class="row col-sm-10 col-sm-offset-1">
		<div class="profile-footer">
			<p class="item">Profile footer text</p>

			<a class="item btn btn-primary">Button</a>
		</div>
	</div>

	<hr class="divider"/>

	<div class="row col-sm-10 col-sm-offset-1">
		<h2>Gehalt</h2>

		<p>Das Gehalt für den Einstieg kann schon einmal bei 125.000 Euro liegen. Bei einem wirtschaftlichen Erfolg der jeweiligen Kanzlei oder einer besonderen Leistung eines Mitarbeiters wird zusätzlich noch ein Bonus ausgezahlt. Jedoch ist dies von Kanzlei zu Kanzlei unterschiedlich. In Deutschland können sich diese stark unterscheiden. Hier eine Übersicht:</p>

		<h2>Vorteile</h2>
		<ul>
			<li>Gute Aufstiegschancen</li>
			<li>Sehr gutes Gehalt</li>
			<li>Gute Aus- und Weiterbildungsmöglichkeiten</li>
			<li>Hohe Karrieremöglichkeiten</li>
		</ul>

		<h2>Nachteile</h2>
		<ul>
			<li>Große Arbeitsbelastung</li>
			<li>60 – 80 Wochenstunden sind keine Ausnahme</li>
			<li>Erreichbarkeit auch in der Freizeit</li>
		</ul>
	</div>

	<hr class="divider"/>

	<div class="row col-sm-10 col-sm-offset-1">
		<h2>Gehalt</h2>

		<p>Das Gehalt für den Einstieg kann schon einmal bei 125.000 Euro liegen. Bei einem wirtschaftlichen Erfolg der jeweiligen Kanzlei oder einer besonderen Leistung eines Mitarbeiters wird zusätzlich noch ein Bonus ausgezahlt. Jedoch ist dies von Kanzlei zu Kanzlei unterschiedlich. In Deutschland können sich diese stark unterscheiden. Hier eine Übersicht:</p>

		<h2>Gehalt</h2>

		<p>Das Gehalt für den Einstieg kann schon einmal bei 125.000 Euro liegen. Bei einem wirtschaftlichen Erfolg der jeweiligen Kanzlei oder einer besonderen Leistung eines Mitarbeiters wird zusätzlich noch ein Bonus ausgezahlt. Jedoch ist dies von Kanzlei zu Kanzlei unterschiedlich. In Deutschland können sich diese stark unterscheiden. Hier eine Übersicht:</p>

		<h2>Gehalt</h2>

		<p>Das Gehalt für den Einstieg kann schon einmal bei 125.000 Euro liegen. Bei einem wirtschaftlichen Erfolg der jeweiligen Kanzlei oder einer besonderen Leistung eines Mitarbeiters wird zusätzlich noch ein Bonus ausgezahlt. Jedoch ist dies von Kanzlei zu Kanzlei unterschiedlich. In Deutschland können sich diese stark unterscheiden. Hier eine Übersicht:</p>

		<h2>Gehalt</h2>

		<p>Das Gehalt für den Einstieg kann schon einmal bei 125.000 Euro liegen. Bei einem wirtschaftlichen Erfolg der jeweiligen Kanzlei oder einer besonderen Leistung eines Mitarbeiters wird zusätzlich noch ein Bonus ausgezahlt. Jedoch ist dies von Kanzlei zu Kanzlei unterschiedlich. In Deutschland können sich diese stark unterscheiden. Hier eine Übersicht:</p>
	</div>

	<div class="row">
		<div class="col-sm-4 profile">
			<div class="profile-box">
				<img class="intro-img" src="../../public/img/a.png" alt="">

				<span class="label label-default">Info</span>
				<span class="icon-like">like</span>

				<div class="profile-logo">
					<img class="intro-img" src="../../public/img/Logo_Ashurst.png" alt="">

					<span class="label label-info">Info</span>
				</div>

				<div class="profile-info">
					<small>Lorem ipsum dolor sit amet</small>
					<h3>Profile info</h3>
				</div>
			</div>
		</div>

		<div class="col-sm-4 profile">
			<div class="profile-box">
				<img class="intro-img" src="../../public/img/a.png" alt="">

				<span class="icon-like">like</span>

				<div class="profile-logo">
					<img class="intro-img" src="../../public/img/Logo_Ashurst.png" alt="">

					<span class="label label-info">Info</span>
				</div>

				<div class="profile-info">
					<small>Lorem ipsum dolor sit amet</small>
					<h3>Profile info</h3>
				</div>
			</div>
		</div>

		<div class="col-sm-4 profile">
			<div class="profile-box">
				<img class="intro-img" src="../../public/img/a.png" alt="">

				<span class="label label-default">Info</span>
				<span class="icon-like">like</span>

				<div class="profile-logo">
					<img class="intro-img" src="../../public/img/Logo_Ashurst.png" alt="">

					<span class="label label-info">Info</span>
				</div>

				<div class="profile-info">
					<small>Lorem ipsum dolor sit amet</small>
					<h3>Profile info</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="row col-sm-10 col-sm-offset-1">
		<div class="profile-footer">
			<p class="item">Profile footer text</p>

			<a class="item btn btn-primary">Button</a>
		</div>
	</div>
</div>